<ion-content   [fullscreen]="true" class="ion-padding">
 
  
<ion-text >
  
  <h1 >Welcome</h1>

  <p >Get started by logging into <br> your account.</p>
  
</ion-text>
<div class="actions">
  <div  class="login-buttons">
    <ion-button>
      <ion-avatar>
   <img src="../../assets/images/f.png"> <!--facebook gelicek-->
      </ion-avatar>
      <ion-label>Facebook</ion-label>
    </ion-button>
    <ion-button>
      <ion-avatar>
   <img src="../../assets/images/g.png"> <!--google gelicek-->
      </ion-avatar>
      <ion-label>Google</ion-label>
    </ion-button>
  </div>
  <div class="seperator">
    <span>or</span>
    <span class="line left"></span>
    <span class="line right"></span>
  </div>
  <ion-button class="signup-btn" expand="block" [routerLink]="['/signup']">Sign up with Email</ion-button>
  <p class="login">Existing user? <a [routerLink]="['/login']">Login now</a></p>
</div>

  
</ion-content>
